/* Brackets Fonts */

/* SourceSansRegular */
@font-face {
    font-family: 'SourceSans';
    src: url('styles/fonts/source-sans-original/SourceSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
